<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitepractice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Ativities.SignUpActivity"></activity>
        <activity android:name=".Ativities.ViewOrders" />
        <activity android:name=".Ativities.HomePageUser" />
        <activity android:name=".Ativities.SignInActivity" />
        <activity android:name=".Ativities.ControlPanel" />
        <activity android:name=".Ativities.DeleteProducts" />
        <activity android:name=".Ativities.UpdateProducts" />
        <activity android:name=".Ativities.VIewProdcts" />
        <activity android:name=".Ativities.AddProductActivity" />
        <activity android:name=".Ativities.MasterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>